<!-- <div class="navbar-wagon navbar-fixed-top"> -->
<div class="navbar-wagon <%= 'navbar-fixed-top' if params[:action] == 'home' || current_page?(controller: '/charging_stations', action: 'index') || current_page?(controller: '/users', action: 'show') %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Locations", charging_stations_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "About Us", "about", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact Us", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "cog.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Links when logged out -->
      <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Locations", charging_stations_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "About Us", "about", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact Us", contact_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->

  <div class="navbar-wagon-item hidden-md hidden-lg">
    <a href = <%= charging_stations_path %>> <i class="fas fa-map-marker-alt"></i></a>
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href= <%= root_path %> >Home</a></li>
        <li><a href= <%= user_path(current_user) if current_user %> >Profile</a></li>
        <li><a href= <%= charging_stations_path %> >Locations</a></li>
        <li><a href=<%= about_path %>>About Us</a></li>
        <li><a href=<%= contact_path %>>Contact Us</a></li>
        <li class="app-bttn-yellow">Download the APP</li>
      </ul>
    </div>
  </div>
</div>

