<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="signUpModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content black">
      <div class="modal-header black">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up For An Account</h5>
        <button type="button" class="close black" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body black">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>
      <div class="modalfooter black">
        <div class="form-actions">
          <%= f.button :submit, "Sign Up", class: "btn btn-primary" %>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
