<div class="team">
  <div class="container team">
    <h1>The Team</h1>
    <h3>The Founders</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'giovanni_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_giovanni.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Giovanni Fantini</h4>
          <p>CEO & Co-founder</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#giovanniModal"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'giacomo_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_giacomo.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Giacomo Camisassa</h4>
          <p>Co-founder</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#giacomoModal"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'matteo_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_matteo.png', class: "avatar-team" %>

            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Matteo de Cicco</h4>
          <p>CTO & Co-founder</p>

          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#matteoModal"} %>

        </div>
      </div>
    </div>

    <h3>Consultants and collaborators</h3>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'laura_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_laura.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Laura Lezcano</h4>
          <p>Graphic Designer</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#lauraModal"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'riccardo_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_riccardo.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Riccardo Arciulo</h4>
          <p>Senior Engineer Electronics and Mechanics</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#riccardoModal"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'alessandro_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_alessandro.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Alessandro</h4>
          <p>Senior Fullstack Developer</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#alessandroModal"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'sam_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_sam.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Sam Jenkins</h4>
          <p>Junior Fullstack Developer</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#samModal"} %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
          <div class="flipper">
            <div class="front">
              <%= image_tag 'masaki_yellow.png', class: "avatar-team" %>
            </div>
            <div class="back">
              <%= image_tag 'avatar_masaki.png', class: "avatar-team" %>
            </div>
          </div>
        </div>
        <div class="bio">
          <h4>Masaki Noguchi</h4>
          <p>Junior Fullstack Developer</p>
          <%= link_to "Read More", "", class: "bio-btn", data: {toggle:"modal", target: "#masakiModal"} %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/bio' %>
